.jumbotron {
  padding-top: 10rem;
  background-color: #f5f5f5;
}
#projects {
  background-color: #f5f5f5;
}
section {
  padding-top: 6rem;
}
#contact {
  padding-top: 20rem;
  padding-bottom: 20rem;
}
#about {
  padding-top: 10rem;
}
.navbar {
  background-color: #f5f5f5;
}
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
li,
span {
  font-family: "Poppins", sans-serif;
}
